<h4>Vehicle Data</h4>

<% if @vehicles_data.present? %>
  <%= render 'table_actions' %>

  <div id='vehicles_data_table' >
    <%= render 'vehicles_data_table', vehicles_data: @vehicles_data %>
  </div>

<% else %>
  <p>No available data.<p> 
<% end %>

<div class="mt-5">
  <h4>Import CSV Data</h4>
  <%= form_tag import_csv_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV", class: 'btn btn-primary' %>
  <% end %>
</div>